<h1>Flexible Payment</h1>
<p>A <%= @num2.to_i %> year loan of <%= number_to_currency(@num3) %>, with an annual interest rate of <%= number_to_percentage((@num1/100),precision: 2) %>, requires a monthly payment of <%= number_to_currency(@answer_monthly) %> </p>
